{% extends 'base.html.twig' %}

{% block title %}Payer ma commande
{% endblock %}

{% block content %}
	<h2>Mon récapitulatif</h2>
	<p>Vérifiez vos informations avant de payer votre commande</p>
	<hr>
	<div class="row">

		<div class="col-md-6">
			<strong>
				Mon adresse de livraison</strong><br>
			<hr>
			<div class="form-check">
				{{ delivery|raw }}<hr>
			</div>

			<strong>
				Mon transporteur</strong><br>

			<hr>
			<div class="form-check">
				{{ carrier.name }}<br>
				{{ carrier.description}}
				<br>
				{{( carrier.price/100)| number_format(2,',','.') }}
				€
				<br>
			</div>
		</div>
		<div class="col-md-6">

			<b>Ma commande</b>
			<div class="order-summary">
				{% set total = null %}

				{% for key,product in cart %}

					<div class="row">
						<div class="col-2 {%if key >0 %} mt-2 {% endif %}">
							<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75">
						</div>
						<div class="col-8 my-auto">
							{{ product.product.name }}<br/>
							<small>
								{{ product.product.subtitle }}
								<br/>
								x
								{{ product.quantity }}
							</small>
						</div>
						<div class="col-2 my-auto">
							{{ ((product.product.price * product.quantity) /100)| number_format(2,',','.')}}
							€
						</div>
					</div>

					{%  set total = total + (product.product.price * product.quantity) %}

				{% endfor %}

			</div>
			<strong>Sous-Total:
			</strong>
			{{  (total / 100)|number_format(2,',','.') }}
			€
			<br/>
			<strong>Livraison :</strong>
			{{ (carrier.price / 100) | number_format(2,',','.')}}
			€
			<hr>
			<strong>Total :</strong>
			{{  ((total / 100) + (carrier.price / 100))|number_format(2,',','.') }}
			€

			<a href="{{ path('stripe_create_session', {'reference': reference}) }}" class="btn btn-block btn-success mt-3">Payer
				{{  ((total / 100) + (carrier.price / 100 ))|number_format(2,',','.') }}
				€</a>
		</div>
	</div>

{% endblock %}
